@model IEnumerable<S2G7PVFAPPLATEST25.Models.Supply>

@{
    ViewBag.Title = "Index";
}

<h3>Supply</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplyUnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rawmaterial.MaterialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.VendorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyUnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rawmaterial.MaterialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.VendorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
