@model IEnumerable<S2G7PVFAPPLATEST25.Models.Territory>

@{
    ViewBag.Title = "Index";
}

<h3>Territory</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TerritoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TerritoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TerritoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TerritoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TerritoryID })
        </td>
    </tr>
}

</table>
