@model S2G7PVFAPPLATEST25.Models.Orderline

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Orderline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderedQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderedQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
