@model IEnumerable<S2G7PVFAPPLATEST25.Models.Orderline>

@{
    ViewBag.Title = "Index";
}

<h3>Order Lines</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderedQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderedQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
