@model IEnumerable<S2G7PVFAPPLATEST25.Models.Salesperson>

@{
    ViewBag.Title = "Index";
}

<h3>Sales Person</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalespersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalespersonTelephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalespersonFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Territory.TerritoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalespersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalespersonTelephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalespersonFax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Territory.TerritoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalespersonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SalespersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SalespersonID })
        </td>
    </tr>
}

</table>
